<<<<<<< HEAD
body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
}

form {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url('https://media.equityapartments.com/images/q_50/f_auto/fl_lossy/4011-28/moda-apartments-exterior');
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: white;
}


header {
    display: flex;
    position: center;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #eee;
    
    
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}


header a {
    text-decoration: none;
    color: black;
}
