
body {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 40px;
}
@media screen and (max-width: 548px) {
  h1 {
font-size:30px;
}}
h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  color: #7B7B7B;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
  color: #655E7A;
}

.navbar-toggle .icon-bar {
  background: #655E7A;
}

.btn-main, .btn-transparent, .btn-small {
  background: #655E7A;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 14px 35px;
  text-transform: uppercase;
  border-radius: 0;
  transition: all 0.2s ease;
}

.btn-main.btn-icon i, .btn-icon.btn-transparent i, .btn-icon.btn-small i {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

.btn-main:hover, .btn-transparent:hover, .btn-small:hover {
  background: #353240;
  color: #fff;
}

.btn-solid-border {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-solid-border:hover {
  border: 1px solid #655E7A;
  background: #655E7A;
}

.btn-transparent {
  background: transparent;
  padding: 0;
  color: #655E7A;
}

.btn-transparent:hover {
  background: transparent;
  color: #655E7A;
}

.btn-large {
  padding: 20px 45px;
}

.btn-large.btn-icon i {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

.btn-small {
  padding: 10px 25px;
  font-size: 12px;
}

.btn-round {
  border-radius: 4px;
}

.btn-round-full {
  border-radius: 50px;
}

.btn.active:focus, .btn:active:focus, .btn:focus {
  outline: 0;
}

.btn:focus {
  color: #ddd;
}

.w-100 {
  width: 100%;
}

.margin-0 {
  margin: 0 !important;
}

.bg-shadow {
  background-color: #fff;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.08);
  padding: 20px;
}

.bg-gray {
  background: #f9f9f9;
}

.bg-primary {
  background: #666666;
}

.bg-primary-dark {
  background: #4d4d4d;
}

.bg-primary-darker {
  background: #333333;
}

.bg-dark {  
  background: #333333;
}

.section {
  padding: 20px 0;
}

.section-sm {
  padding: 70px 0;
}

.title {
  padding: 20px 0 30px;
}

.title h2 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-title {
  margin-bottom: 40px;
}

.section-title h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}

.section-title p {
  font-style: italic;
  color: #666;
  font-family: "Volkhov", serif;
  margin-left: 10px;
  margin-right: 10px;
}

.section-subtitle {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

.page-title {
  padding: 20px 0;
}

.page-title .block {
  text-align: center;
}

.page-title .block h1 {
  color: #fff;
  font-weight: 200;
  letter-spacing: 6px;
  margin-top: 0;
  text-transform: capitalize;
}

.page-title .block p {
  color: #fff;
}

.heading {
  padding-bottom: 60px;
  text-align: center;
}

.heading h2 {
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}

.heading p {
  font-size: 18px;
  line-height: 40px;
  color: #292929;
  font-weight: 300;
}

.overlay, .page-title, .coverpic {
  position: relative;
}

.overlay:before, .coverpic:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #1d192c;
  opacity: 0.8;
}
.feature:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #1d192c;
  opacity: 0.8;
}

#success, #error {
  display: none;
}

/*--
	Header Start 
--*/
header {
  background: #fff;
  padding: 20px 0;
}

header .navbar {
  margin-bottom: 0px;
  border: 0px;
}

header .navbar-brand {
  padding-top: 5px;
}

header .navbar-default {
  background: none;
  border: 0px;
}

header .navbar-default .navbar-nav {
  padding-top: 10px;
}

header .navbar-default .navbar-nav li a {
  color: #333333;
  padding: 10px 26px;
  font-size: 15px;
}

font header .navbar-default .navbar-nav li a:hover {
  color: #000;
}

.navigation {
  background: #fff;
  padding: 0px 0;
  min-height: 90px;

}

.navigation .navbar {
  margin-bottom: 0px;
  border: 0px;
}

.navigation .navbar-brand {
  padding-top: 10px;
}
.logo {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../images/logo.png") no-repeat;
  width: 73px; /* Width of new image */
  height: 73px; /* Height of new image */
  padding-left: 380px; /* Equal to width of new image */
  min-height: 100%;
  min-width: 100%;
  background-size: contain
}

@media (min-width: 360px) and (max-width: 992px) {
  .logo {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("../images/logo.png") no-repeat;
    width: 73px; /* Width of new image */
    height: 73px; /* Height of new image */
    padding-left: 180px; /* Equal to width of new image */
    min-height: 100%;
    min-width: 100%;
    background-size: contain
}}
@media (max-width: 359px) {
  .logo {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("../images/logo.png") no-repeat;
    width: 73px; /* Width of new image */
    height: 73px; /* Height of new image */
    padding-left: 80px; /* Equal to width of new image */
    min-height: 100%;
    min-width: 100%;
    background-size: contain
}}

.navigation .navbar {
  background: none;
  border: 0px;

}

.navigation .navbar .navbar-nav {
  padding-top: 25px;
}

.navigation .navbar .navbar-nav > li > a {
  color: #5C5C5C;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

.navigation .navbar .navbar-nav > li > .disabled {
  color: #C0C0C0;
  pointer-events: none;
  cursor: default;
}

.navigation .navbar .navbar-nav > li > a:hover, .navigation .navbar .navbar-nav > li > a:focus {
  color: #000;
  background: transparent;
}

.navigation .navbar .dropdown-menu {
  border-radius: 0;
  border: none;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.navigation .navbar .dropdown-menu a {
  font-weight: normal;
  color: #808080;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.navigation .navbar .dropdown-menu a:hover {
  background: #655E7A;
  color: #fff;
  padding-left: 25px;
}

.nav .open > a {
  background: transparent;
}

.coverpic {
  background: url("../images/calpolypomonamapWIP.png") no-repeat;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
  padding: 200px 0 280px 0;
  position: relative;
}
@media screen and (max-width: 768px) {
  .coverpic {
  padding: 20px 0 28px 0;
  background-attachment: scroll;
}}

.coverpic .block {
  color: #E3E3E4;
  text-align: center;
}

.coverpic .block h1 {
  font-weight: 100;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 10px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
@media screen and (max-width: 548px) {
  .coverpic .block h1 {
font-size:16px;
font-weight: 300;
}}

.coverpic .block p {
  margin-bottom: 30px;
  color: #b9b9b9;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
}

.coverpic-small {
  padding: 50px 0px;
  text-align: center;
}

.coverpic-small h2 {
  color: #fff;
}

.coverpic-small p {
  color: #fff;
}

.coverpic-small .btn-main, .coverpic-small .btn-transparent, .coverpic-small .btn-small {
  padding: 15px 35px;
  font-size: 12px;
  margin-top: 30px;
}

.service {
  text-align: center;
  padding: 20px 0;
}

.service .service-item {
  padding-bottom: 20px;
}

.service .service-item i {
  font-size: 60px;
  color: #655E7A;
}

.service .service-item h4 {
  padding-top: 0px;
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
}

.service .service-item p {
  padding-top: 10px;
  margin: 0;
}

.service-arrow .row {
  overflow: hidden;
}
.service-arrow .row [class*="col-"]{
  margin-bottom: -999px;
  padding-bottom: 999px;
}

.service-arrow .block {
  padding: 20px 30px;
}

.service-arrow .block i {
  font-size: 40px;
}

.service-arrow .block p {
  color: #fff;
}

.service-list .block {
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
}

.feature {
  padding: 40px 0;
  background: url("../img/featue-bg.jpg");
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  display: block;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (max-width: 768px) {
  .feature {
  background-attachment: scroll;
}}

.feature h2 {
  color: #c9c9c9;
  margin-bottom: 30px;
}

.feature p {
  color: #ffffff;
  margin-bottom: 20px;
}

.feature .btn-view-works {
  background: #655E7A;
  color: #fff;
  padding: 10px 20px;
}

.counter-box i {
  font-size: 35px;
}

.counter-box h4 {
  font-size: 30px;
  font-weight: bold;
}

.counter-box span {
  color: #555;
}

.contact-form {
  padding-top: 20px;
  padding-bottom: 35px;
}

.contact-form .block form .form-group {
  padding-bottom: 15px;
  margin: 0px;
}

.contact-form .block form .form-group .form-control {
  background: #F6F8FA;
  height: 60px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
}

.contact-form .block form .form-group-2 {
  padding-bottom: 15px;
  margin: 0px;
}

.contact-form .block form .form-group-2 textarea {
  background: #F6F8FA;
  height: 135px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
}

.contact-form .block button {
  width: 100%;
  height: 60px;
  background: #47424C;
  border: none;
  color: #fff;
  font-size: 18px;
}

.address-block li {
  margin-bottom: 10px;
}

.address-block li i {
  margin-right: 15px;
  font-size: 20px;
  width: 20px;
}

.social-icons {
  margin-top: 40px;
}

.social-icons li {
  display: inline-block;
  margin: 0 6px;
}

.social-icons a {
  display: inline-block;
}

.social-icons i {
  color: #2C2C2C;
  margin-right: 25px;
  font-size: 25px;
}

.google-map {
  position: relative;
  height: 300px;
}

.google-map #map {
  width: 100%;
  height: 100%;
}

.contact-box {
  padding-top: 35px;
  padding-bottom: 58px;
}

.contact-box .block img {
  width: 100%;
}

.contact-box .block h2 {
  font-weight: 300;
  color: #000;
  font-size: 28px;
  padding-bottom: 30px;
}

.contact-box .block p {
  color: #5C5C5C;
  display: block;
}



.about .block h2 {
  padding-top: 35px;
  margin: 0;
}

.about .block p {
  padding-top: 20px;
  line-height: 28px;
}

.about .block img {
  width: 100%;
}

.about-slider {
  width: 360px;
  height: 360px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .about-slider {
    width: 100%;
    height: auto;
    margin: auto;
}}

.bg-1 {
  background-image: url("../images/calpolypomonamapWIP.png");
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
@media screen and (max-width: 768px) {
  .bg-1 {
  background-attachment: scroll;
}}

.bg-2 {
  background: url("../images/calpolypomonamapWIP.png");
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
@media screen and (max-width: 768px) {
  .bg-2 {
  background-attachment: scroll;
}}

.page-404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
}

.page-404 h1 {
  font-size: 300px;
  font-weight: bold;
  line-height: 300px;
  margin-top: 30px;
}

@media (max-width: 480px) {
  .page-404 h1 {
    font-size: 130px;
    line-height: 150px;
  }
}

@media (max-width: 400px) {
  .page-404 h1 {
    font-size: 100px;
    line-height: 100px;
  }
}

@media (max-width: 768px) {
  .page-404 h1 {
    font-size: 150px;
    line-height: 200px;
  }
}

.page-404 h2 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: bold;
  margin-top: 30px;
}

.page-404 .copyright-text {
  margin-top: 50px;
  font-size: 12px;
}

.page-404 .copyright-text a {
  font-weight: 600;
}

.page-404 .btn-main, .page-404 .btn-transparent, .page-404 .btn-small {
  margin-top: 40px;
}

.footer {
  background: #F5F5F5;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

.footer p {
  font-size: 13px;
  line-height: 25px;
  color: #919191;
}

.footer a {
  color: #595959;
}

.footer .footer-menu {
  padding-bottom: 0px;
}


.footer .footer-menu i {
  font-size: 4em;
}


#nav-icon3 {
  width: 45px;
  height: 45px;

  margin: 25px 20px 0px 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #444444;
  border-radius: 1px;
  opacity: 1;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 16px;
}

#nav-icon3 span:nth-child(4) {
  top: 32px;
}

#nav-icon3.open span:nth-child(1) {
  top: 16px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 16px;
  width: 0%;
  left: 50%;
}