body {
	background-color: #f9f4ef;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Orwell, serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: AlbertText;
	margin: 0 auto;
}

button {
	padding: 5px;
	border-radius: 8px;
	font-family: Orwell, serif;
	font-size: large;
}

@font-face {
	font-family: Orwell;
	src: url(fonts/Orwell.woff2);
}
@font-face {
	font-family: AlbertText;
	src: url(fonts/AlbertText.woff2);
}