body {
    margin: 0;
    padding: 0;
    background: url(./assets/yellow_background.jpg) no-repeat;
    background-size: cover;
}

.team-box {
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}

.box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.team-box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.team-box h5 {
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
}

.team-box p {
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

.team-box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.team-box li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.team-box li a:hover {
    color: #b9b9b9
}

.developer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.person-box {
    height: 500px;
    width: 350px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    margin-bottom: 1%;
    margin-left: 5px;
    margin-right: 5px;
}

.person-box h5 {
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
}

.person-box p {
    text-align: center;
    height: 80px;
}

.person-box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.person-box li a {
    display: inline-block;
    margin: 6px;
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.person-box li a:hover {
    color: #b9b9b9
}