/*
 * CSS Variables for common attributes.
 */
:root
{
    /* Fonts */
    --main-font: 'Cabin', sans-serif;
    --heading-font-size: 25px;
    --description-font-size: 15px;
    
    /* Colors */
    --background-color:rgb(205, 255, 249);
    --navbar-background-color: white;
    --box-text-color: white;
    --box-background-color: rgb(5, 171, 236);
    --profile-item-background-color: white;

    /* General Styling */
    --general-border-radius: 10px;
    --general-padding: 5px;
    --general-box-width: 85%;
    --profile-image-size: 150px;
}

/* Flex Classes */
.flex-col
{
    display: flex;
    flex-direction: column;
}

.flex-row
{
    display: flex;
    flex-direction: row;
}

.flex-grow
{
    flex-grow: 1;
}

.flex-wrap
{
    flex: 0 0 50%;
    flex-wrap: wrap;
}

.flex-center
{
    align-items: center;
}

.flex-vgap-small
{
    gap: 2vh;
}

.flex-hgap-small
{
    gap: 1vw;
}

/* Component Classes */
body
{
    background: var(--background-color);
  	margin: 0;
  	padding: 0;
  	min-height: 100vh;
}

/* General Styling Classes */
.width-full
{
    width: 100%;
}

.width-qt
{
    width: 25%;
}

.width-lg
{
    width: var(--general-box-width);
}

.text-header
{
    font-size: var(--heading-font-size);
}

.text-description
{
    font-size: var(--description-font-size);
}

.text-center
{
    text-align: center;
}

/* Team Member Box */
.box
{
    min-width: 40%;
    width: 48%;
    border-radius: var(--general-border-radius);
    padding: var(--general-padding);
    background: var(--box-background-color);
    font-family: var(--main-font);
    color: var(--box-text-color);
}

.image-profile
{
    width: var(--profile-image-size);
    height: var(--profile-image-size);
    border-radius: var(--general-border-radius);
}

.team-member-description
{
    flex-grow: 1;
}

.connection-list
{
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: baseline;
}

.connection-list a
{
    display: block;
    width: min-content;
    height: min-content;
    padding: var(--general-padding);
    border-radius: var(--general-border-radius);
    background: var(--profile-item-background-color);
}

.connection-list img
{
    object-fit: contain;
    height: 35px;
    width: 35px;
    transition: all 500ms;
}

.connection-list img:hover
{
    transition: all 500ms;
    height: 50px;
    width: 50px;
    border-radius: var(--general-border-radius);
}

.banner
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
    width: var(--general-box-width);
    border-radius: var(--general-border-radius);
    padding: var(--general-padding);
    background: var(--navbar-background-color);
    font-family: var(--main-font);
    font-size: 4vh;
}

/* Navbar */
#navbar > img
{
    height: 10vh;
    border-radius: var(--general-border-radius);
}

/* compucompare Banner */
#compucompare-banner
{
    height: 10vh;
}

#compucompare-logo
{
    max-width: 50%;
}

#compucompare-logo img
{
    max-height: 5vh;
    max-width: 100%;
    border-radius: var(--general-border-radius);
}