body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

.nav {
    height: 50px;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 5px #ccc;
}

.nav-logo {
    display: inline-flex;
    align-items: center;
    height: 100%;
    float:left;
    margin: 0px 5px;
}

.nav-logo > img {
    height: 40px;
}

.nav-logo > span {
    font-size: 22px;
    margin-left: 5px;
}

.nav-items {
    height: 100%;
    float:right;
    font-size: 0px; /* to remove space between inline elements */
}

.nav-item {
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0px 20px;
    font-weight: bold;
    text-decoration: none;
    color: #777;
    user-select:none;
    -webkit-user-select:none;
}

.nav-item:hover {
    cursor: pointer;
    color: #333;
    background: #f0f0f0;
}

.nav-item:active {
    background: #ddd;
}

.nav-item.selected {
    color: #328bd7;
    box-shadow: 0px 2px 0px #328bd7;
}

.content {
    max-width: 1000px;
    margin: 0px auto;
    padding: 0px 10px;
}
