a {
    text-decoration: none;
}

body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

.nav {
    height: 60px;
    width: 100%;
    background: #283138;
    box-shadow: 0px 0px 5px #ccc;
}

.nav-logo {
    display: inline-flex;
    align-items: center;
    height: 100%;
    float:left;
    margin: 0px 5px;
    color:#ddd;
}

.nav-logo > img {
    height: 60px;
}

.nav-logo > span {
    font-size: 22px;
    margin-left: 5px;
}

.nav-items {
    height: 100%;
    float:right;
    font-size: 0px; /* to remove space between inline elements */
}

.nav-item {
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0px 20px;
    text-decoration: none;
    color:#eee;
    user-select:none;
    -webkit-user-select:none;
}

.nav-item:hover {
    cursor: pointer;
    background: #454d52;
}

.nav-item:active {
    background: #ddd;
}

.nav-item.selected {
    color: #9575cd;
}

.content {
    max-width: 1000px;
    margin: 0px auto;
    padding: 0px 10px;
}

.section {
    height: 500px;
    overflow: hidden;
}

.section.main {
    height: inherit;
    width: 100%;
    padding-bottom: 40%;
    background: url('../images/banner.jpg') no-repeat;
    background-size: cover;
    position: relative;
}

.banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-overlay-content {
    width: 75%;
    height: 50%;
}

.banner-overlay-title {
    font-size: 6vw;
    font-weight: 500;
    color: #eee;
    text-shadow: 1px 1px 6px #333;
    text-align: center;
}

.banner-img {
    height: 8vw;
    position: relative;
    top: 12px;
}

.third {
    width: 33%;
    float: left;
}

.member {
    margin: 0px 25px;
    display: block;
}

.member-img-container {
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 100%;
    border: 4px solid rgba(255,255,255,.10);
}

.member-img-container > img {
    width: 100%;
}

.member-name {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    color: white;
}

.section.app {
    background: #374046;
    height: auto;
}

.section.team {
    background-color: #6b76b9;
    height: 600px;
}

.section-title {
    margin: 50px 0px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: #eee;
}

.section-title.app {
    margin-top: 100px;
    margin-bottom: 25px;
    font-size: 50px;
}

.app-desc {
    text-align: center;
    color: #eee;
    font-size: 22px;
}

.app-buttons {
    margin: 100px 0px;
    text-align: center;
}

.app-btn {
    cursor: pointer;
    margin: 0px 15px;
    padding: 10px 45px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-decoration: none;
    color: #ddd;
    transition: background .1s linear;
}

.app-btn:hover {
    background: #7252ab;
    color:white;
    /*border-color: #333*/
}

.logo {
    width: 100px;
}
