body {
    margin: 0;
    padding: 0;
    font: 14pt 'Poppins', sans-serif;
    color: #131315;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Josefin Sans', sans-serif;
}

h1::first-letter {
    text-decoration: underline;
}

a {
    background: linear-gradient(0deg, #DBB590 40%, #ffffff 0%);
    color: #131315;
    text-decoration: none;
}

a:hover {
    background: none;
    color: #131315;
}

header {
    background-image: url('images/header-image.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    margin-bottom: 50px;
}

header #title {
    background-color: #ffffffcc;
    width: 50%;
    padding: 20px;
    border-radius: 5px;
}

header h1, h2 {
    text-align: center;
    margin: 0;
}

header h1 {
    font-size: 40pt;
}

header h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 15pt;
}

.container {
    margin-bottom: 50px;
}

content .container {
    padding: 20px;
    font-size: 15pt;
}

content .about {
    border-left: 2px solid #131315;
    padding-left: 20px;
}

content .ic {
    text-align: right;
}

content .ic .fa {
    font-size: 45pt;
}

#intro {
    width: 100%;
    height: 100vh;
}

.team {
    padding: 10px;
}

.consumer {
    text-align: center;
}

.consumer h3 {
    background-color: #E9E9E7cc;
    padding: 10px 15px;
    border-radius: 5px;
}