body {
    background-color: #353535;
    background-Image: URL(https://images.freecreatives.com/wp-content/uploads/2015/04/dark-gray.jpg);
}

#home {
    color: #ebf5ff;
}

#products {
  color:#e6e6e6;
}

#developers {
  color:#e6e6e6;
}

.logoBG {
  background-color:white;
  padding-right:1.7em;
  margin-bottom:.03em;
  border-radius:0em .3em .3em 0em;

  -webkit-box-shadow: -4px 0px 35px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 0px 35px 0px rgba(0,0,0,0.75);
box-shadow: -4px 0px 35px 0px rgba(0,0,0,0.75);
  z-index:10;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,c4c4c4+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(196,196,196,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(196,196,196,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgb(248, 248, 248) 0%,rgba(196,196,196,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c4c4c4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

.dark {
    color: #ebf5ff;
    margin:0;
    padding-top:2em;


/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41454c+0,222428+100 */
background: rgb(65,69,76); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(65,69,76,1) 0%, rgba(34,36,40,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(65,69,76,1) 0%,rgba(34,36,40,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(65,69,76,1) 0%,rgba(34,36,40,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41454c', endColorstr='#222428',GradientType=0 ); /* IE6-9 */

}

.leadImage {
    width: 100%;
    border-radius:1em 1em 0em 0em;
}


.container {
    padding:0;
    margin-bottom: 3em;
    border-radius: 0em 0em 1em 1em;

    -webkit-box-shadow: 0px 0px 24px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px 6px rgba(0,0,0,0.75);
}

.container-fluid {
    -webkit-box-shadow: 0px -20px 24px 23px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -20px 24px 23px rgba(0,0,0,0.75);
    box-shadow: 0px -20px 24px 23px rgba(0,0,0,0.75);
    z-index:10;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4b5059+0,222428+100 */
background: rgb(75,80,89); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(75,80,89,1) 0%, rgba(34,36,40,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(75,80,89,1) 0%,rgba(34,36,40,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(75,80,89,1) 0%,rgba(34,36,40,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b5059', endColorstr='#222428',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

::-webkit-scrollbar {
  width: 6px;
  height: 2px;
  z-index:-100;
}
::-webkit-scrollbar-button {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(143, 147, 165, 0.44);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: rgba(102, 102, 102, 0.17);
  border: 52px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.brand-image {
    width: inherit;
    height: inherit;
    margin: -15px;
    margin-left: 3px;
    padding: 2px;
}

.highlight {
    font-weight: bold;
    text-shadow: -2px -2px #555;
    color:lightblue;
}