@font-face{
    font-family: writingFont;
    src: url(fonts/A_Sensible_Armadillo.ttf);
}

*{
    font-family: writingFont;
}

body{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-image:url("https://www.publicdomainpictures.net/pictures/50000/velka/notebook-page.jpg");
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006400;
}

li{
    float: left
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-description: none;
}

li a:hover{
    background-color: #228B22
}

img{
    width=100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.rounded{
    border-radius: 50%;
}

table, th, td {
    border: 1px solid white;
    border-collapse:collapse;
    text-align: center;
    vertical-align: middle;
}

div.center{
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

div td{
    font-size: 150%;
    width: 250px;
    height: 300px;
}

div td img{
    width: 300px;
    height: 200px;
    transform:rotate(270deg);
}

div p a{
    color:white;
}

div p a:hover{
    background-color: #228B22
}

div p a.greenBox{
    background-color: #006400;
    color: solid green;
    border: 3px solid black;
    padding: 10px;
}

div ul li img{
    width: 50px;
    height: 50px;
    padding: 5px;
}

.fontSize{
    font-size: 150%;
}

#footer{
    background: #006400;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
}