.background {
    background: url(../images/binary-image.jpg) fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300vh;
}

body { 
    color: rgb(106, 204, 236);
}

.center {
    text-align: center;
}

div.h1 {
    margin-top: 200px;
}

