<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">

<title>Team Name: Code9</title>
</head>
<body>
	<div class="center" align="center">
	<h1>Welcome to the page of Code9!</h1>
	<p>Team members:</p>
	<p>DeMarco Green, Steven Lam, Bryson Santella, Dylan Trinh, Justin Yatco</p>
  <p>As a group, Code9 plans to create a web service of a diet tracker to help beginners track simple
      macros and calories.</p>
</body>
</html>