body{
	margin: 0;
	padding: 0;
	background: url(SM.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.signUp{
	width: 320px;
	height: 620px;
	background: #000;
	color: #fff;
	top: 30%;
	left: 30%;
	position: absolute;
	transform: translate(-50%. -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.Avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.signUp p(
	margin: 0;
	padding: 0;
	font-weight: bold;
)

.signUp input{
	width: 100%;
	margin-bottom: 20px;
}

.signUp input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color:  #fff;
	font-size: 16px
}

.signUp input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.signUp input[type="submit"]
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.signUp a
{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.signUp a:hover
{
	color: #ffc107
}