.u-section-1 {
  background-image: url("images/f-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1308px;
}

.u-section-1 .u-group-1 {
  width: 535px;
  min-height: 836px;
  margin: 58px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 45px 30px 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  line-height: 1;
  font-weight: 400;
  margin: 104px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(41,46,51,0.4);
  margin: 30px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 37px auto 0 0;
  padding: 15px 46px 15px 45px;
}

.u-section-1 .u-image-1 {
  width: 33px;
  height: 33px;
  margin: -46px auto 0 20px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 605px;
  margin: -836px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 115px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 423px;
}

.u-section-1 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-6 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 42px;
  height: 42px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 49px;
  height: 49px;
  margin: -46px auto 0 58px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 422px;
}

.u-section-1 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  width: 75px;
  height: 75px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: 9px auto 0 0;
}

.u-section-1 .u-text-8 {
  line-height: 1.8;
  font-style: italic;
  margin: 16px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 42px;
  height: 42px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-5 {
  width: 49px;
  height: 49px;
  margin: -42px auto 0 58px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  width: 75px;
  height: 75px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-10 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-6 {
  width: 42px;
  height: 42px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-7 {
  width: 49px;
  height: 49px;
  margin: -42px auto 0 58px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 408px;
}

.u-section-1 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-11 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-12 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-8 {
  width: 42px;
  height: 42px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-9 {
  width: 49px;
  height: 49px;
  margin: -42px auto 0 58px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 136px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 288px;
  min-height: 368px;
  height: auto;
  margin: -106px 0 58px auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-icon-5 {
  width: 75px;
  height: 75px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-13 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-14 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-10 {
  width: 42px;
  height: 42px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-11 {
  width: 49px;
  height: 49px;
  margin: -42px auto 0 58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1079px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-3 {
    margin-top: -45px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-14 {
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 157px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 137px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 162px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 206px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 243px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 130px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 35px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 3px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 3px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 153px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }
}