html {
    font-family: 'Mukta', sans-serif;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgb(168, 136, 255),rgb(104, 104, 253));
}

h1 {
    margin: 0;
    padding-top: 30px;
    font-size: 40px;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-size: 30px;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px 0;
}

.card {
    background-color: rgb(231, 231, 231);
    width: 220px;
    min-height: 300px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 1em;
    box-shadow: 0px 0px 5px black;
}

.card h3 {
    margin: 10px 0;
    font-size: 20px;
}

.card p {
    margin: 0;
    padding-bottom: 10px;
}

.card p:first-of-type {
    border-top: 1px solid black;
    padding-top: 10px;
}