/*
	Rocket Internet by TEMPLATE STOCK
    templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Typography CSS */
body {
  font-family: "Lato", sans-serif;
  color: #41484b;
}

/* Header */
#homeFullScreen {
  width: 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: top center;
}

#homeFullScreen {
  background-image: url("../images/campus-4.jpeg");
  filter: saturate(50%);
  overflow: hidden;
}

#homeFullScreen {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: auto;
}

.header-text h1 {
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
}

.header-text .vertical-line {
  height: 2px;
  background-color: #fff;
  width: 150px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header-text p {
  font-size: 26px;
  width: 600px;
  text-align: center;
  color: #fff;
}

/* down arrow */

.down-arrow a {
  position: absolute;
  bottom: 20px;
  z-index: 2;
  display: inline-block;
  transform: translate(-50%, -50%);
  text-decoration: none;
  transition: opacity 0.3s;
}
.down-arrow a:hover {
  opacity: 0.5;
}

#section04 a {
  padding-top: 60px;
}
#section04 a span {
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

/* member */
.member img {
  width: 100%;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.member-box {
  padding: 20px;
}

.member-box h1 {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 2em;
}

.member-box p {
  font-size: 25px;
  text-align: justify;
  font-style: italic;
}

.member-box a:link,
.member-box a:visited,
.member-box a:hover,
.member-box a:active {
  color: #42484c;
}

.member-box a.button:before {
  top: -2.5%;
  left: -1%;
  border-top: 2px solid #42484c;
  border-left: 2px solid #42484c;
}
.member-box a.button:after {
  bottom: -2.5%;
  right: -1%;
  border-bottom: 2px solid #42484c;
  border-right: 2px solid #42484c;
}

/* Portfolio */
.portfolio .heading {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin: 50px 0px;
}

.portfolio img {
  width: 100%;
  cursor: pointer;
}

.portfolio .last-img {
  margin-bottom: 20px;
}

/* Description */
.description {
  background-color: #42484c;
  color: #fff;
  padding: 50px 0px;
}

.description h1 {
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin: 0px;
}

.description p {
  font-size: 22px;
  font-weight: lighter;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.description span {
  font-size: 24px;
  font-weight: bold;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 30px;
}

footer ul {
  padding: 0px;
  list-style: none;
  margin: 20px;
}

footer ul li {
  display: inline-block;
  margin-left: 15px;
}

footer ul li a span {
  width: 50px;
  height: 50px;
  background: #42484c;
  display: block;
  font-size: 30px;
  line-height: 50px;
  color: #fff;
  border-radius: 50%;
}

footer .copyright {
  font-size: 22px;
  margin-bottom: 20px;
  display: block;
}

/* buttons */

.button,
.button-1,
.button-2 {
  display: inline-block;
  text-decoration: none;
  color: white;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}

a.button:before,
a.button:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}
a.button:before {
  top: -2.5%;
  left: -1%;
  border-top: 2px solid white;
  border-left: 2px solid white;
}
a.button:after {
  bottom: -2.5%;
  right: -1%;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
a.button:hover:before,
a.button:hover:after {
  width: 102%;
  height: 100%;
  transition: all 0.3s ease;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #fff;
}

/* Extra Small devices  */
@media (max-width: 480px) {
}

/* Extra Small devices  */
@media (max-width: 767px) {
  .header-text h1 {
    font-size: 45px;
  }

  .header-text .vertical-line {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .header-text p {
    font-size: 20px;
    color: #fff;
  }

  .member-box {
    padding: 0px;
  }

  .member-box h1 {
    font-size: 25px;
    margin-top: 2em;
  }

  .member-box p {
    font-size: 20px;
    text-align: justify;
  }

  .nopadding {
    padding: 15px !important;
    margin: 0 !important;
  }

  .portfolio img {
    margin-bottom: 15px;
  }

  .call-top-action h1 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 15px !important;
    margin: 0px;
  }

  .call-top-action p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .call-top-action span {
    font-size: 15px;
    font-weight: bold;
  }

  footer ul li a span {
    width: 40px;
    height: 40px;
    background: #42484c;
    display: block;
    font-size: 22px;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
  }

  footer .copyright {
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header-text h1 {
    font-size: 45px;
  }

  .header-text p {
    font-size: 20px;
    color: #fff;
  }

  .member-box h1 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 1em;
  }

  .member-box p {
    font-size: 18px;
    text-align: justify;
  }

  .call-top-action h1 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 13px !important;
    margin: 0px;
  }

  .call-top-action p {
    font-size: 14px;
    margin-bottom: 13px;
  }

  .call-top-action span {
    font-size: 17px;
    font-weight: bold;
  }

  footer {
    text-align: center;
    margin-top: 23px;
  }

  footer ul li a span {
    width: 40px;
    height: 40px;
    background: #42484c;
    display: block;
    font-size: 22px;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
  }

  footer .copyright {
    font-size: 18px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .member-box {
    padding: 10px;
  }

  .member-box h1 {
    font-size: 30px;
  }

  .member-box p {
    font-size: 20px;
  }

  .call-top-action p {
    font-size: 19px;
  }

  .call-top-action h1 {
    font-size: 30px;
    margin-bottom: 15px !important;
  }

  .call-top-action span {
    font-size: 20px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Typography CSS */
  body {
    font-family: "Lato", sans-serif;
    color: #41484b;
  }

  /* Heder */
  #homeFullScreen {
    width: 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: top center;
  }

  #homeFullScreen {
    background-image: url("../images/campus-4.jpeg");
    filter: saturate(70%);
    overflow: hidden;
  }

  #homeFullScreen {
    display: table-cell;
    vertical-align: 100%;
    text-align: center;
    margin: auto;
  }

  .header-text h1 {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
  }

  .header-text .vertical-line {
    height: 2px;
    background-color: #fff;
    width: 150px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .header-text p {
    font-size: 26px;
    color: #fff;
  }

  /* member */
  .member img {
    width: 100%;
  }

  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }

  .member-box {
    padding: 20px;
  }

  .member-box h1 {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 2em;
  }

  .member-box p {
    font-size: 25px;
    text-align: justify;
  }

  /* Portfolio */
  .portfolio .heading {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin: 50px 0px;
  }

  .portfolio img {
    width: 100%;
    cursor: pointer;
  }

  .portfolio .last-img {
    margin-bottom: 20px;
  }

  /* Call to Action */
  .call-top-action {
    background-color: #42484c;
    color: #fff;
    padding: 50px 0px;
    margin-top: 50px;
  }

  .call-top-action h1 {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin: 0px;
  }

  .call-top-action p {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .call-top-action span {
    font-size: 24px;
    font-weight: bold;
  }

  /* Footer */
  footer {
    text-align: center;
    margin-top: 30px;
  }

  footer ul {
    padding: 0px;
    list-style: none;
    margin: 20px;
  }

  footer ul li {
    display: inline-block;
    margin-left: 15px;
  }

  footer ul li a span {
    width: 50px;
    height: 50px;
    background: #42484c;
    display: block;
    font-size: 30px;
    line-height: 50px;
    color: #fff;
    border-radius: 50%;
  }

  footer .copyright {
    font-size: 22px;
    margin-bottom: 20px;
    display: block;
  }
}
