:root {
    --red: #be3144;
    --black: #222222;
    --gray: #444444;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--red);
}

a:active {
    color: white;
}

img {
    width: 200px;
}

h1 {
    font-size: 64px;
    padding-bottom: 20px;
}

.fast {
    font-size: 36px;
    font-style: italic;
}

h2 {
    font-size: 64px;
    padding-bottom: 20px;
}

h3 {
    font-size: 28px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-link {
    display: inline;
    font-size: 20px;
    margin-right: 20px;
}

.title {
    width: 30%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--red);
    /* padding: 50px 100px; */
}

.team-members {
    display: inline-flex;
    gap: 25px;
}

.member {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
    text-align: center;
    background-color: var(--gray);
    width: 18vw;
    padding: 10px 0;
}

.project-tile {
    text-align: center;
}

.position {
    padding-top: 10px;
    font-size: 18px;
    font-style: italic;
}

.container {
    border-radius: 4px;
    font-size: 20px;
    background-color: #333333;
    margin: 10px 20px;
}

.container:hover {
    background-color: aliceblue;
}

.button {
    display: block;
    padding: 10px 0;
    color: var(--red);
}

.button:hover {
    color: var(--black);
}

.row {
    display: flex;
}

.github {
    border-radius: 4px;
    background-color: var(--red);
    margin-top: 15px;
    margin-right: 25px;
}

.github:last-of-type {
    margin-right: 0;
}

.github-link {
    display: block;
    color: var(--black);
    font-size: 28px;
    font-weight: bold;
    padding: 25px 50px;
}

.github-link:hover {
    border-radius: 4px;
    background-color: white;
    color: var(--black);
}

.about-text {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
    background-color: var(--gray);
    color: var(--red);
    padding: 15px;
}

.about-list {
    padding: 25px;
}

.about-item {
    font-size: 24px;
    margin-bottom: 25px;
}

.about-item:last-of-type {
    margin-bottom: 0;
}

#welcome-section {
    height: 100vh;
    background-image: url("https://files.nc.gov/osbm/budget%20-%20iStock_000041295790_Large.jpg?VersionId=cUoo.GYt_s8QOQlldayC56bzmM1XHmyK");
    background-color: var(--black);
    color: var(--black);
}

#about {
    height: 60vh;
    background-color: var(--black);
    color: var(--red);
}

#team {
    height: 60vh;
    background-color: var(--black);
    color: var(--red);
}

#navbar {
    position: fixed;
    height: 5%;
    width: 100%;
    background-color: var(--gray);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
}

.nav-links {
    margin-right: 20px;
}
