body {
    background-image: url("https://c2.staticflickr.com/4/3924/19273196175_5e183e2101_h.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    font-family: Tahoma, Helvetica;
}

h2 {
    color: #fff;
    margin: 0;
	font-size: 44px;
	text-shadow: 4px 4px #222;
	text-align: center;
}

h3 {
    color: #fff;
    margin: 0;
	font-size: 24px;
	text-shadow: 2px 2px #222;
	text-align: center;

}

h4 {
	color: #fff;
	font-size: 20px;
}

#content {
    clear: left;
    padding: 10px;
    background-color: #000;
    opacity: 0.75;
}

p {
	color: #fff;
	font-size: 18px;
}

.credit {
	font-size: 12px;
	text-align: center;
}

a {
	color: #fff;
}


