*{
	margin: 0;
	padding: 0;
	font-family:Copperplate Gothic Bold;
}	

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../image1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
	
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color:#fff;
	padding: 5px 20 px;
	border: 1px solid #fff;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size:50px;
	margin-top: -5px;
	letter-spacing: 5px;
}