body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 90%;
    margin: auto;
}

.purpose p {
    max-width: 600px;
    width: 90%;
    margin: 0 auto; 
}

.developers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    gap: 20px;
    width: 100%; 
}

.member {
    flex: 1 1 200px; 
    padding: 10px;
    margin: 15px;
    border-style: solid;
    border-color: #007bff;
    text-align: center;
    border-radius: 8px;
}

.repo {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    width: fit-content;
    margin-top: 10px;
}

.repo:hover {
    background-color: #0056b3;
}
