body {
	font-family: Montserrat;
}

a {
	text-decoration: none;
	color: black;
}

.title {
	text-align: center;
}

* {box-sizing:border-box}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.carouselImg img {
  width: auto;
  height: 225px;
  max-height: 225px;
}