
/*
    Stylesheet specifically designed for a landing page
    with a non repeating background that remains centered
*/

/* background (applied to entire page) */
body {
    background-image: url("background.gif");
    background-repeat:no-repeat;

    /* this ensures background image stays in center */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* center vertically */
.center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* center horizontally */
.middle {
    text-align: center;
    width: 100vw; /*vw = view width*/
}

/* add color and border */
.dyed{
    color: #755b82;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 
                 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}


/* font shrinks as screen scales in height */
h1{
    /*font-size: 4.9vw;*/
    font-size: 7.8vh;
}

/* formatting */
.padding {
  padding: 10px;
}