body {
	margin: 0;
	padding: 0;
	background: #273555 url(images/wrapper-bg.png) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-family: Arial, sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #DCA7B9;
}

a:hover {
	text-decoration: underline;
}

img.border {
	border: 6px solid #E1F1F6;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	overflow: hidden;
	margin: 0px auto;
	background: url(images/bg-img1.jpg) no-repeat center top;
}

/* Header */

#header {
	overflow: hidden;
	width: 900px;
	margin: 0 auto;
}

/* Logo */

#logo {
	margin: 0 0 30px 0;
	padding: 0;
	color: #10E0A2;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	text-align: center;
	letter-spacing: -3px;
	font-family: Arial, sans-serif;
	font-size: 64px;
}

#logo span {
	letter-spacing: normal;
	font-size: 22px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #10E0A2;
}

/* Search */

#search {
	float: right;
	width: 280px;
	padding: 0;
}

#search form {
	float: right;
	height: 41px;
	margin: 0;
	padding: 40px 40px 0 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 220px;
	height: 35px;
	padding: 0px 10px;
	border: none;
	background: #636900;
	line-height: 35px;
	letter-spacing: 1px;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
}

#search-submit {
	display: none;
}

/* Menu */

#menu {
	width: 820px;
	height: 60px;
	margin: 40px auto 0 auto;
	text-align: center;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
}

#menu a {
	margin-right: 1px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu .current_page_item a {
	background: #CE5372; 
}

#splash {
	width: 1000px;
	margin: 0px auto;
}

/* Page */

#page {
	overflow: hidden;
	width: 980px;
	margin: 0px auto;
	padding: 0px 0px;
}

/* Content */

#content {
	float: left;
	width: 520px;
	padding: 0px 20px;
}

.post {
	padding: 40px;
	margin-bottom: 30px;
	background: rgba(0,0,0,.5); 
	border-bottom: 1px solid #2E092D;
}

.post .title {
	padding-bottom: 20px;
	letter-spacing: -1px;
	color: #FFFFFF;
}

.post .title a {
	border: none;
	color: #FFFFFF;
}

.post .meta {
	padding-bottom: 5px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 330px;
	padding: 0px 0px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 15px;
	padding-bottom: 30px;
}

#sidebar li li {
	padding-left: 15px;
	line-height: 35px;
	background: url(images/img07.jpg) no-repeat left 14px;
	border-bottom: 1px solid #EFF4F5;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding: 12px 0 0 15px;
	letter-spacing: -1px;
	color: #95C500;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #7F7F81;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #95C500;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 900px;
	height: 140px;
	margin: 0px auto;
	background: url(images/footer-shadow-bg.png) no-repeat left top;
}

#footer p {
	margin: 0;
	padding-top: 30px;
	line-height: normal;
	text-align: center;
	font-size: 12px;
	color: #10E0A2;
}

#footer a {
	text-decoration: underline;
	color: #10E0A2;
}

#about {
	overflow: hidden;
	width: 820px;
	margin: 0px auto;
	padding: 40px 40px;
}

#about .title {
	padding-bottom: 10px;
	letter-spacing: -1px;
	text-transform: lowercase;
	color: #A26500;
}


.list-style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style1 li {
	padding: 5px 0px;
	border-top: 1px solid #EEEEEE;
}

.list-style1 a:hover {
	text-decoration: underline;
}

.list-style1 .first {
	border-top: none;
}

#two-column {
	overflow: hidden;
}

#column1 {
	float: left;
	width: 430px;
}

#column2 {
	float: right;
	width: 430px;
}
