html {
    height: 100%;
}

.navbar {
    background-color: #131313;
}

body {
    background: repeating-linear-gradient(-45deg, #191919, #191919 10px, #151515 10px, #151515 20px);
}

h1 {
    text-align: center; color: rgb(239,68,88); text-shadow: 0 2px 10px #000000;
}