li {
   color: #36C;
   font-weight: normal;
   letter-spacing: .4em;
   background-color: lightblue;
   padding-bottom: 30px;
   padding-top: 30px;
   padding-left: 30px;
   padding-right: 30px;
   border:3px dashed red;
   margin-bottom: 1em;
}
li:hover{
   background-color: lightgreen;
}
ul{
  list-style-type: none;
}
body{
   margin: 20px;
   background-color: lightgray;
   padding-bottom: 30px;
   padding-top: 30px;
   padding-left: 30px;
   padding-right: 30px;
   border-style: solid;
   
}
