li {
   color: black;
   aligh-content;
   font-weight: normal;
   font-color: black;
   letter-spacing: .4em;
   background-color: lightblue;
   padding-bottom: 30px;
   padding-top: 30px;
   border-style: solid;
   border-color: black;
   margin-bottom: 1em;
   margin-left: -2.5em;
}
li:hover{
   background-color: lightgreen;
}
ul{
  list-style-type: none;
}
body{
   margin: 20px;
   background-color: lightgray;
   padding-bottom: 30px;
   padding-top: 30px;
   padding-left: 30px;
   padding-right: 30px;
   border-style: solid;
   
}
