body{
  background-color: #6B818C;
  text-align: center;
}
h1{
  color: #FFFFFF;
  font-family: 'Franklin Gothic Medium';
  font-size: 32px;
  font-weight: bold;
}
div{

  float:left; 
  margin:0; 
  width:25%;
  color: #00241B;
 
  
}
p{
  font-size: 20px;
  color: #3D2B3D;
}
section{
  margin: 0 auto;
  position: relative;
  top: 400px;
  color: #FFFFFF;
  width: 50%;
}

.button{
  font-size: 30px;
}