/*body {*/
/*text-align: center;*/
/*background-image: url('../img/ingred.jpg');*/
/*background-size: cover;*/
/*background-repeat: no-repeat;*/
/*color: white;*/
/*font-family: helvetica;*/
/*}*/



html {
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ), url('../img/personCartCompress.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    font-size: 5.0vh;

}

.button {
    border-style: solid;


    padding: 15px;
    border-color: white;
    border-radius: 2px;
    color: white;
    text-underline: none;

}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

#logo{
    z-index: 5000;
    font-size: 34px;
}
#spinner {
    z-index: 10;
    color:black;
}

#cart {
    z-index: 9;
    height:900px;
}

#container {
    height: 500px;
}


#gitIcon {
    position: absolute;
    right: 20%;
    top: 10%;
    font-size:70px;
}


a { color: inherit; }

